{% extends "partials/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}


<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url "store:index" %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Shop
                <span></span> Cart
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Your Cart</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">There are <span class="text-brand total_cart_items">{{total_cart_items}}</span> product{{total_cart_items|pluralize}} in your cart</h6>
                    <h6 class="text-body"><a href="#" class="text-muted"><i class="fi-rs-trash mr-5"></i>Clear Cart</a></h6>
                </div>
            </div>
        </div>
        <form action="{% url "store:create-order" %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="table-responsive shopping-summery">
                        <table class="table table-wishlist">
                            <thead>
                                <tr class="main-heading">
                                    <th class="custome-checkbox start pl-30">
                                        <input type="hidden" name="">
                                    </th>
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col" class="end">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in items %}
                                <tr class="pt-30 item_div_{{i.id}}">
                                    <td class="custome-checkbox pl-30">
                                        <input type="hidden" name="">
                                    </td>
                                    <td class="image product-thumbnail pt-40"><img src="{{i.product.image.url}}" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="{% url "store:product-detail" i.product.slug %}">{{i.product.name}}</a> by <a href="">({{i.product.vendor.profile.full_name}})</a></h6>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:{{i.product.average_rating_percentage}}%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> ({{i.product.average_rating|floatformat:1}})</span>
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h4 class="text-body">${{i.price|intcomma}} </h4>
                                    </td>
                                    <td class="text-center detail-info">
                                        <div class="detail-extralink mr-15">
                                            <div class="detail-qty border radius">
                                                <input 
                                                class="qty-val update_cart_qty" 
                                                type="number" 
                                                name="quantity" 
                                                id="quantity" 
                                                value="{{i.qty}}" 
                                                min="1" 
                                                max="{{i.product.stock}}" 
                                                data-update_type="update" 
                                                data-item_id="{{i.id}}"
                                                data-product_id="{{i.product.id}}"
                                                required>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h4 class="text-brand">$<span class="item_sub_total_{{i.id}}">{{i.sub_total|intcomma}}</span></h4>
                                    </td>
                                    <td class="action text-center">
                                        <a 
                                        class="text-body delete_cart_item" 
                                        data-item_id="{{i.id}}" 
                                        data-product_id="{{i.product.id}}">
                                        <i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="divider-2 mb-30"></div>
                    <div class="cart-action d-flex justify-content-between">
                        <a class="btn "><i class="fi-rs-arrow-left mr-10"></i>Continue Shopping</a>
                        <a href="{% url "store:cart" %}" class="btn  mr-10 mb-sm-15"><i class="fi-rs-refresh mr-10"></i>Update Cart</a>
                    </div>
                    <div class="row mt-50">
                        {% for i in addresses %}
                        <div class="col-lg-6">
                            <div class="card mb-3 mb-lg-0">
                                <div class="card-header">
                                    <h3 class="mb-0">Billing Address</h3>
                                </div>
                                <div class="card-body">
                                    <address>
                                        <strong>Full Name: </strong>{{i.full_name}}<br />
                                        <strong>Email: </strong>{{i.email}},<br />
                                        <strong>Phone Number: </strong>{{i.mobile}}. <br /><strong>Address: </strong>{{i.address}}
                                    </address>
                                    <p><strong>City: </strong>{{i.city}}</p>
                                    <p><strong>State: </strong>{{i.state}}</p>
                                    <p><strong>Country: </strong>{{i.country}}</p>
                                    <input class="form-check-input" type="checkbox" name="address" id="address{{i.id}}" value="{{i.id}}">
                                    <label for="address{{i.id}}">Select Address</label><br>
                                    <a href="#" class="btn-small">Edit</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="border p-md-4 cart-totals ml-30">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">
                                            <h6 class="text-muted">Subtotal</h6>
                                        </td>
                                        <td class="cart_total_amount">
                                            <h4 class="text-brand text-end">$<span class="cart_sub_total">{{cart_sub_total|intcomma}}</span></h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" colspan="2">
                                            <div class="divider-2 mt-10 mb-10"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">
                                            <h6 class="text-muted">Shipping</h6>
                                        </td>
                                        <td class="cart_total_amount">
                                            <h5 class="text-heading text-end">Free</h4></td> </tr> <tr>
                                        <td class="cart_total_label">
                                            <h6 class="text-muted">Estimate for</h6>
                                        </td>
                                        <td class="cart_total_amount">
                                            <h5 class="text-heading text-end">United Kingdom</h4></td> </tr> <tr>
                                        <td scope="col" colspan="2">
                                            <div class="divider-2 mt-10 mb-10"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">
                                            <h6 class="text-muted">Total</h6>
                                        </td>
                                        <td class="cart_total_amount">
                                            <h4 class="text-brand text-end">$<span class="cart_sub_total">{{cart_sub_total|intcomma}}</span></h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn mb-20 w-100">Proceed To CheckOut<i class="fi-rs-sign-out ml-15"></i></button>
                    </div>
                </div>
            </div>
        </form>    
    </div>
</main>


{% endblock content %}